# Python virtual environment
.venv/
venv/
ENV/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Temporary files
*.log
*.tmp
temp/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
instance/
.webassets-cache

# Data files
data/*
!data/kaggle_dataset.csv
!data/README.md 